@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    background-color: rgb(173,167,167);
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

header{position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(164,156,156);
    width: 100vw;
}

header nav{
    background-color: rgb(162,155,155,51%);   
}
    
header nav ol {
    display: flex;
    padding: 5px;
    margin: 12px 1% 1%;
    background-color: rgb(162,155,155,51%);    
}

header nav ol li {
    display: inline;
    font-size: 17px;
    letter-spacing: 1.5px;
    background-color: rgb(162,155,155,51%);    
}

header nav ol li a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    background-color: rgb(162,155,155,51%);    
}

li:hover {
    transform: translateY(-4px);
}
  
a:hover{
    color: #225ad9;
}

a:active{
    color: #7da0ef;
}

@media all and (min-width:837px) and (max-width:1200px) {
    header nav ol{
        margin-left:10vw ;
    }
}


@media all and (min-width:1200px) and (max-width:1400px){
    header nav ol{
        margin-left:20vw ;
    }
}

@media all and (min-width:1400px) {
    header nav ol{
        margin-left:22vw ;
    }
}

.container{
    width: 70vw;
    max-width: 550px;
    height: auto;
    border: 2px solid #cabdbd;
    margin: 70px auto 3%;
    padding: 17px;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.container h2{text-align: center;
    font-size: 42px;
    letter-spacing: 6px;}

#infiniteMath{
    display: block;
    margin: auto;
    width:250px;
    
}

p i{
    font-size: medium;
}

p sup a{
    text-decoration: none;
    color: blue;
}

p{
    font-weight: 500;
}

#Footnote1{
    font-weight: 600;

}