* {
  margin: 0;
  padding: 0;
  background-color: #000000;
  /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
  /* overflow: hidden; */

  animation: greetings 3s ease-out 1s 1 forwards;
}

.greetings {
  color: white;
  background-color: #000000;
  display: inline-block;
  position: absolute;
  top: 6%;
  left: 1%;
  font-family: cursive, "Baloo Tammudu 2";
  font-size: 21px;
  font-size: 2.5vh;
  animation: greetings 3s ease-out 1s 1 forwards,
    greetings-2 2s ease-in 2s 1 forwards;
    overflow: hidden;
    height: 27px;
  
}

@keyframes greetings {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #231f20;
  }
}

@keyframes greetings-2 {
  0% {
    width: 364px;
  }
  100% {
    width: 0px;
  }
}
