@media (min-width: 992px) {
  .navbar-expand-lg {
    padding: 10px 20px 0px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

.navbar-brand {
  font-size: 1.7rem !important;
}

.navbar-brand:hover {
  color: rgb(49, 49, 149) !important;
}
/* 
books -----------------------------------------------------------------------------------------------------------------------------------
*/

.books {
  width: 95vw;
  margin: auto;
  margin-bottom: 70px;
}

.books h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.books .container {
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 30px;
}

.books .container ul {
list-style: none;
}

.book {
  padding-bottom: 6px;
}

/*
About part ------------------------------------------------------------------------------------------------------------------------------
 */

.About {
  padding-bottom: 60px;
  margin-top: 20px;
}

.About h3 {
  padding: 20px;
  color: #3664c9;
}

.About .container {
  justify-content: space-around;
  align-items: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 95vw;
  height: auto;
}

/* 
Skills ----------------------------------------------------------------------------------------------------------------------------------
*/

.Skills {
  margin-top: 20px;
}

.Skills h2 {
  color: #7636c9;
  padding: 70px 0px 10px 0px;
  width: 80vw;
  margin: auto;
  border-top: 2px solid rebeccapurple;
}

.Skill-div {
  margin: 40px auto 50px;
  height: auto;
}

.Skill {
  height: 50%;
  padding: 10px 30px 10px 10px;
}

.Skill-3,
.Skill-4 {
  padding-top: 20px;
}

.stuff-text {
  font-size: 17px;
  margin-bottom: 10px;
}

.Start-Reading {
  text-decoration: none;
}

/* 
Projects ---------------------------------------------------------------------------------------------------------------------------------
*/
.project-React {
  color: rgb(70, 180, 48);
}

.projects {
  margin-bottom: 20px;
}

.projects h3 {
  width: 80vw;
  margin: 10px auto 60px;
  padding-top: 50px;
  color: rgb(233, 80, 24);
  border-top: 2px solid rgb(233, 80, 24);
}

.projects h4 {
  margin: 20px 0px;
}

.project-Blog {
  color: rgb(18, 14, 235);
}

.project-Software {
  color: rgb(235, 14, 14);
}

.projects .container {
  height: auto;
  width: 70vw;
}

.Writing,
.Software,
.The20sSaga {
  margin-bottom: 70px;
}

.W-project {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.W-project1,
.S-project1,
.T-project1 {
  padding: 10px 10px 10px 30px;
}

.W-project2,
.S-project2,
.T-project2 {
  padding: 10px 20px 10px 30px;
}

.W-project p , .T-project p, .S-project p {
  color: #808080;
}

.FullContent {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

.FullContent:hover {
  text-decoration: solid;
  color: black;
}

.S-project {
  border-left: 2px solid rgb(235, 14, 14);
  border-right: 2px solid rgb(235, 14, 14);
}

.project-The20sSaga {
  color: rgb(180, 48, 180);
}

.T-project {
  border-left: 2px solid rgb(180, 48, 180);
  border-right: 2px solid rgb(180, 48, 180);
}

/*
Footer ----------------------------------------------------------------------------------------------------------------------------------
*/

.SiteFooter {
  height: auto;
  padding: 30px 10px 3px;
  background-color: #4e4f50;
}

.all-footer-links {
  width: 55.5%;
  flex-flow: column;
  margin: auto;
}

.page-links {
  margin-left: 10px;
  justify-content: center;
}

.page-links
ul{
  list-style: none;
}
.page-links ul li {
  margin-bottom: 10px;
}

.PageLinksItem {
  color: rgb(238,238,238) !important;
  padding-right: 5px;
}

.PageLinksItemHead{
color: black !important;
}

.PageLinksItem:hover {
  color: black !important;
}

.icons-links {
  text-align: center;
  align-items: flex-end;
 justify-content: center; 
}

.SiteFooter div a {
  margin: 7px;
}

.SiteFooter p {
  padding-top: 10px;
  padding-bottom: 0px;
  color: black;
}

@media screen and (max-width: 800px) {
  .page-links {
    font-size: 15px;
  }
  .page-links ul {
    padding-left: 2px;
  }
  .all-footer-links {
    width: 87.5%;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .books {
    width: 45vw;
  }
}

/*
 BlogsPage ===============================================================================================================================
*/
.navbar {
  padding-top: 2.5rem !important;
}
.container-fluid {
  width: 85% !important;
}

.logo-name {
  font-size: 22px !important;
  color: #8700db !important;
  letter-spacing: 1px;
}

.nav-link {
  font-size: 16.5px;
}

header {
  background-color: #fff;
}

.blogsList {
  margin-top: 80px;
}

.blogsList .container {
  flex-direction: column !important;
  max-width: 800px;
}

.Individual-Blog-div {
  margin-bottom: 40px;
  height: auto;
  padding: 20px 10px;
}

.Individual-Blog-div article h2 {
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 22px;
  font-family: "benton-sans", sans-serif;
}
.Individual-Blog-div article p {
  font-size: 17px;
  line-height: 30.5px;
  color: #808080;
}

.BaselineInfo {
  padding-left: 10px;
  padding-top: 2px;
  color: #888;
  font-size: 15px;
}

@media screen and (max-width: 980px) {
  .container-fluid {
    width: 100% !important;
  }
  .blogsList .container {
    width: 90vw;
  }
}


/* 
Blog-Infinite Math =======================================================================================================================
*/
.main-IM .container, .main-TE .container {
  max-width: 700px;
  width: 90vw;
  margin-top: 40px;
  margin-bottom: 5px;
}

.Blog-Infinite-Math,.Blog-Tail-Event,.Blog-Better-Reader{
  padding: 10px;
}

.Blog-Infinite-Math h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #8700db !important;
}

.IM-Blog-Graphics,.TE-Blog-Graphics{
  width: 80%;
  display: block;
  margin: auto;
}

.IM-content,.TE-content{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

#Footnote1{
  color: #000000;
}

.FurtherRead{
  margin-bottom: 50px;
  max-width: 701px !important;
}

.FurtherReadHead,.FurtherReadDate{
  color:rgb(94, 83, 83)
}

.FurtherReadBody{
 margin-bottom: 2px !important;
}

.FurtherReadLinks{
  color: #8700db;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width:720px) {
  .IM-Blog-Graphics,.TE-Blog-Graphics{
    width: 100%;
  }
}

/* 
Tail Event ======================================================================================================
*/

