body{
    background-image: url(../Images/Keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.instruction{
  margin: auto;
  width: 500px;
}
    
li{
  margin: 10px 0px;
}

#content , .writing , #try {
  width:75vw;
  height:auto;
  margin:15px auto;
  font-size: 20px;
  letter-spacing: 1px;

}

#lyrics{
  text-align: left;
  width: 75vw;
  border:2px solid black;
  height: 210px;
  font-size: 19px;
}

#buttons{
  display: flex;
}

.button{
  margin-right:10px;
  border-radius: 4px;
  color: white;
  padding: 2px 7px;
  font-size: 14px;
  line-height: 1.42857143;
  cursor: pointer;
}

#Memories{
  background-color: #286090;
  border-color: #204d74;
}

#KunFayaKun{
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#SeeYouAgain{
  background-color: #d6211a;
  border-color: #d43f3a;
}

#Reset{
    background-color: #1a1dd6;
    border-color: #5b3ad4;
}

#practise{
    width:100%;
    height:80%;
  text-align: left;
  border:2px solid black;
}

#mistake{
    margin-top:-25px ;
  text-align: center;
  color: red;
  font-size: 22px;
}

